#header1 {
   font-size: 45px; 
   font-style: italic;
   text-align: center;
   padding-top: 3px;
   border-bottom: 1px solid black;
   color: blue;
   background-color: rgba(7, 221, 132, 0.71);
   height: 150px;
   width: 100%;
}

#footer1 {
    font-size: 20px; 
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid black;
    color: blue;
    background-color: rgba(7, 221, 132, 0.71);
    height: 75px;
    width: 100%;
}

#navigation {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
